html {
}

html::-webkit-scrollbar { 
    display: none;
}

#mainWrapper {
	width: 100%;
	height: 100%;

}

#hwrapper {
	width: 100%;
	height: 50px;
}

#bwrapper {
	width: 100%;
	position: relative;
}

#settingsTab {
	width: 300px;
	height: 95%;
	position: absolute;
  	top: 0px;
  	left: 25px;
}

#gridTab {
	min-width: 600px;
	height: 95%;
	position: absolute;
  	top: 0px;
  	left: 350px;
  	right: 25px;
}

#dayOfWeek {
	width: 100%;
	min-width: 600px;
	height: 10%;
	border: 1px solid orange;
	position: relative;
}

.dayOfWeekSplit {
	min-width: 75px;
	width: 12.5%;
	height: 100%;
 	float: left;
  	text-align: center;
  	-webkit-box-sizing: border-box;
}

.dayOfWeekSplitLabel {
	color: black;
	font-family: Source Sans Pro;
  	font-size: 15px;
}

#timeOfDay {
	width: 100%;
	height: 90%;
	min-width: 600px;
	overflow: auto;
	border: 1px solid green;
}

#timeOfDay::-webkit-scrollbar { 
    display: none;
}

.columnByDay{
	width: 12.5%;
	min-width: 75px;
	height: 100%;
	float: left;
	border: 1px solid red;
	-webkit-box-sizing: border-box;
}

/*
#hoursOfDay {
	width: 12.5%;
	height: 100%;
	float: left;
}

.theHour {
	width: 100%;
	height: 50px;
	text-align: right;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.hoursOfDayLabel
{
	color: black;
	font-family: Source Sans Pro;
  	font-size: 15px;
  	padding-right: 10px;
}	

#mainGrid {
	width: 87%;
	height: 100%;
	float: right;
}

#columnByDay {
	width: ;
}
*/
