html {
}

html::-webkit-scrollbar { 
    display: none;
}

#mainWrapper {
	width: 100%;
	height: 100%;

}

#hwrapper {
	width: 100%;
	height: 50px;
}

#bwrapper {
	width: 100%;
	position: relative;
}

#settingsTab {
	width: 300px;
	height: 95%;
	position: absolute;
  	top: 0px;
  	left: 25px;
  	border: 1px solid black;
  	font-family: Source Sans Pro, Roboto, Calibri, Arial;  
}

#coursePage {
	width: 100%;
	height: 100%;
}

#coursePageTitle{
	padding: 10px;
	width: 100%;
	color: black;
	font-family: Source Sans Pro;
	font-size: 50px;
	font-style: italic;
	outline:none;
}

.courseCode{
	width: 100%;
	height: 10%;
	border: 1px solid green;
	margin: 10px 0;
}

.courseCodeColor {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	background-color: black;
	float: left;
}

.courseCodeLabel {
	width: 250px;
	font-size: 25px;
}

#statPage {
	width: 100%;
	height: 100%;
	text-align: center
}

#courseTitle {
	width: 90%;
	font-size: 25px;
	display: block;
	margin: 10px auto;
}

#statBox {
	width: 90%;
	margin: 10px auto;
	height: 25%;
	border: 1px solid black;
	text-align: left;
}	

.boxTitle {
	display: block;
	font-size: 25px;
	margin:10px 10px 0 10px;
	text-decoration: underline;
}

.statBoxLabel {
	display: block;
	font-size: 15px;
	margin:10px;
}

#addItemBox {
	width: 90%;
	margin: 10px auto;
	height: 45%;
	border: 1px solid black;
	text-align: left;
}

.timeDiv {
	width: 100%;
	height: 15%;
}

.chooseTime {
	font-size: 15px;
	font-family: source sans pro;
	display: block;
	width: 35%;
	float: left;
	margin: 10px 10px;
}

.selectTime {
	display: block;
	margin: 5px 10px;
	width: 35%;
	float: right;
}

#addButton {
	width: 40%;
	float: left;
	padding: 5px;
	margin: 0 5px;
	text-align: center;
	border: 1px solid red;
	border-radius: 5px;
}

#clearButton {
	width: 40%;
	float: right;
	padding: 5px;
	margin: 0 5px;
	text-align: center;
	border: 1px solid red;
	border-radius: 5px;
}

#backButton {
	width: 90%;
	margin: 10px auto;
	padding: 10px 0;
	display: block;
	border: 1px solid black;
}

#gridTab {
	min-width: 600px;
	height: 95%;
	position: absolute;
  	top: 0px;
  	left: 350px;
  	right: 25px;
	border: 1px solid purple;
}





/* Calendar CSS */
#calendar h2{
	padding: 10px 0 0 10px;
	font-family: ubuntu;
}

#calendar .fc-head .fc-widget-header tr {
	font-family: roboto;
}

#calendar .fc-body .fc-axis {
	font-family: roboto;
}

#calendar .fc-today-button {
	font-family: ubuntu
}

#calendar .fc-content {
	font-family: Source Sans Pro
}